1. Create a single dataframe with the concatenation of all input csv files, adding a column called country
2. Extract all videos that have no tag.
3. For each channel, determine the total number of views
4. Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe.
5. Add a like_ratio column storing the ratio between the number of likes and of dislikes
6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)
7. For each interval, determine the number of videos, average number of likes and of dislikes.
8. For each tag, determine the number of videos
Notice that tags contains a string with several tags.

9. Find the tags with the largest number of videos
10. For each (tag, country) pair, compute average ratio likes/dislikes
11. For each (trending_date, country) pair, the video with the largest number of views
12. Divide trending_date into three columns: year, month, day
13. For each (month, country) pair, the video with the largest number of views
14. Read all json files with the video categories
15. For each country, determine how many videos have a category that is not assignable.

0. Import all the packages that need to be used.

In [44]:
import pandas as pd
import numpy as np
import json
import os

                                                  POINT 1
Create a single dataframe with the concatenation of all input csv files, adding a column called country

In [53]:
folder_path = "YoutubeTrends_Data/csv_data/"

files = {
    "CA": "CAvideos.csv.zst",
    "DE": "DEvideos.csv.zst",
    "FR": "FRvideos.csv.zst",
    "GB": "GBvideos.csv.zst",
    "IN": "INvideos.csv.zst",
    "JP": "JPvideos.csv.zst",
    "KR": "KRvideos.csv.zst",
    "MX": "MXvideos.csv.zst",
    "RU": "RUvideos.csv.zst",
    "US": "USvideos.csv.zst"
}

all_dataframes = []

for country_code, filename in files.items():
    full_path = folder_path + filename

    try:
        df = pd.read_csv(full_path, compression='zstd', encoding="utf-8", encoding_errors="ignore")
        df["country"] = country_code
        all_dataframes.append(df)
        print(f"Uploaded: {country_code}")

    except FileNotFoundError:
        print(f"WARNING: Can't find: {full_path}")

if all_dataframes:
    YT_Trends = pd.concat(all_dataframes, ignore_index=True)

    print(f"YT_Trends has a total of {len(YT_Trends)} rows and {len(YT_Trends.columns)} columns")
    print(f"Is the index unique? {YT_Trends.index.is_unique}")

Uploaded: CA
Uploaded: DE
Uploaded: FR
Uploaded: GB
Uploaded: IN
Uploaded: JP
Uploaded: KR
Uploaded: MX
Uploaded: RU
Uploaded: US

Final dataframe:
YT_Trends has a total of 375942 rows and 17 columns
Is the index unique? True

                                                    POINT 2
Extract all videos that have no tag.

In [54]:
no_tag=YT_Trends.loc[YT_Trends["tags"]=="[none]"]
#you can also remove the ".loc" and it works the same

print(f"{len(no_tag)} videos do not have any tag")
print(no_tag)

37698 videos do not have any tag
           video_id trending_date  \
41      JwboxqDylgg      17.14.11
58      9B-q8h31Bpk      17.14.11
78      1UE5Dq1rvUA      17.14.11
86      pmJQ4KwliX4      17.14.11
98      lHcXhBojpeQ      17.14.11
...             ...           ...
375815  VGykknw9eCM      18.14.06
375819  fAIX12F6958      18.14.06
375865  gS1DbvHHVH0      18.14.06
375873  E4c7EE8_IX0      18.14.06
375938  1h7KV2sjUWY      18.14.06

                                                    title       channel_title  \
41      Canada Soccer's Women's National Team v USA In...       Canada Soccer
58      John Oliver Tackles Louis C.K. And Donald Trum...            TV Shows
78                Taylor Swift Perform Ready For It - SNL          Ken Reactz
86      LATEST Q POSTS: ROTHSCHILDS, HOUSE OF SAUD, lL...        James Munder
98                       ‰∏âÂ±ÜTVBË¶ñÂ∏ùÔºåÊããÊ£Ñ10Âπ¥ÈùíÊ¢ÖÁ´πÈ¶¨È´ÆÂ¶ªÔºåÁÇ∫Â®∂Â∞è‰∏âÈÇÑ‰∏çÊÉúËàáÊØçÁµï‰∫§ÔºÅ               ÊòéÊòüÁôæÊõâÁîü
...                                                   ...                 ...
375815  Made Defiant: The Mixtape ft. Neymar Jr., Kane...        Beats by Dre
375819  Bumblebee (2018) - Official Teaser Trailer - P...  Paramount Pictures
375865                          Going in to brain surgery       Simone Giertz
375873                                    Weezer - Africa              weezer
375938                         True Facts : Ant Mutualism            zefrank1

        category_id              publish_time    tags     views   likes  \
41               17  2017-11-13T05:53:49.000Z  [none]     36311     277
58               22  2017-11-13T04:49:26.000Z  [none]    106029    1270
78               24  2017-11-12T05:18:02.000Z  [none]    320964    8069
86                2  2017-11-12T21:25:40.000Z  [none]    116820    1503
98               22  2017-11-12T12:49:50.000Z  [none]     88061      47
...             ...                       ...     ...       ...     ...
375815           10  2018-06-07T07:01:06.000Z  [none]   3577614   12318
375819            1  2018-06-05T07:00:01.000Z  [none]  19864779  228670
375865           28  2018-05-30T14:22:13.000Z  [none]   1635301  120791
375873           10  2018-05-29T12:00:11.000Z  [none]   4682557  115240
375938           22  2018-05-18T01:00:06.000Z  [none]   1064798   60008

        dislikes  comment_count  \
41            28             13
58           101            181
78           285            717
86           139           1066
98            58             17
...          ...            ...
375815      1345           1414
375819     16420          46318
375865      1098          20711
375873      5069           9170
375938       382           3936

                                        thumbnail_link  comments_disabled  \
41      https://i.ytimg.com/vi/JwboxqDylgg/default.jpg              False
58      https://i.ytimg.com/vi/9B-q8h31Bpk/default.jpg              False
78      https://i.ytimg.com/vi/1UE5Dq1rvUA/default.jpg              False
86      https://i.ytimg.com/vi/pmJQ4KwliX4/default.jpg              False
98      https://i.ytimg.com/vi/lHcXhBojpeQ/default.jpg              False
...                                                ...                ...
375815  https://i.ytimg.com/vi/VGykknw9eCM/default.jpg              False
375819  https://i.ytimg.com/vi/fAIX12F6958/default.jpg              False
375865  https://i.ytimg.com/vi/gS1DbvHHVH0/default.jpg              False
375873  https://i.ytimg.com/vi/E4c7EE8_IX0/default.jpg              False
375938  https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg              False

        ratings_disabled  video_error_or_removed  \
41                 False                   False
58                 False                   False
78                 False                   False
86                 False                   False
98                 False                   False
...                  ...                     ...
375815             False                   False
375819             False                   False
375865             False                   False
375873             False                   False
375938             False                   False

                                              description country
41      Canada Soccer's Women's National Team face riv...      CA
58                      John Oliver on News, Politics ...      CA
78      Thanks for watching please subscribe and subsc...      CA
86      https://pastebin.ca/3930472\n\nSupport My Chan...      CA
98                                                    NaN      CA
...                                                   ...     ...
375815  When your time comes, you have two choices. Yo...      US
375819  Every adventure has a beginning. Watch the off...      US
375865  We‚Äôll post an update on Instagram and Twitter ...      US
375873  Stream + download the song: http://fanlink.to/...      US
375938                                                NaN      US

[37698 rows x 17 columns]

                                                    POINT 3
For each channel, determine the total number of views

In [55]:
pd.DataFrame(YT_Trends.groupby("channel_title").sum().loc[:,"views"].rename("total_views"))

#count counts how many times the channel appears therefore is not the solution
#I converted it into a dataframe and also renamed the column as "total_views" instead of the original "views"
#could also be ordered with sort_values(ascending=False) ((descending order or either ascending with True))

                        total_views
channel_title
! ÏÑ∏ÏÉÅÏóê Î¨¥Ïä®ÏùºÏù¥                  3942977
!!8ÊôÇ„Å†„ÇàÈù¢ÁôΩ„Éç„ÇøÂ§ßÈõÜÂêà                 50207
!BTS„ÉªTWICE „Åæ„Å®„ÇÅ                 7310
!Los amorosos Virales¬°         6069
!t Live                      240038
...                             ...
ÔºïÂàÜ„Åß„Åß„Åç„Çã DIY                   272607
Ôº¢Ôº°Ôº≥Ôº®ÔΩîÔΩñ                       116292
Ôº´„ÅÆ„Éï„Ç£„ÉÉ„Ç∑„É≥„Ç∞„Å°„ÇÉ„Çì„Å≠„Çã                 37165
Ôº∑Ôº°Ôº™ÔºØÔº©Ôº´Ôº°                      424129
üíúSandrea                     347155

[37824 rows x 1 columns]

                                                            POINT 4
Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe.

In [56]:
condition = ((YT_Trends["comments_disabled"] == True) & (YT_Trends["ratings_disabled"] == True)) | (YT_Trends["video_error_or_removed"] == True)

excluded = YT_Trends[condition].copy()

YT_Trends = YT_Trends[~condition].copy()

print(f"{len(excluded)} rows were removed from YT_Trends and moved to 'excluded'. YT_Trends has now these many rows: {len(YT_Trends)}, while originally it counted 375942 rows")

2620 rows were removed from YT_Trends and moved to 'excluded'. YT_Trends has now these many rows: 373322, while originally it counted 375942 rows

                                                        POINT 5
Add a like_ratio column storing the ratio between the number of likes and of dislikes

In [57]:
YT_Trends['like_ratio'] = (YT_Trends.loc[:,"likes"]/(YT_Trends.loc[:,"dislikes"].replace(0, np.nan)))
#in this case we handle the case in which the number of dislikes is 0. which mathematically leads to an infinite result

YT_Trends.loc[:, ["title", "like_ratio"]].sort_values(by="like_ratio", ascending=False)
#in this case we have to add the by unlike point 3 because in this case we have a DataFrame, while in that one we were dealing with a Series

                                                    title    like_ratio
331431          Alone in the Game | AT&T AUDIENCE Network  11688.000000
296366      [Dance Practice] Î™¨Ïä§ÌÉÄÏóëÏä§ (MONSTA X) - DRAMARAMA   3550.750000
221150      [Dance Practice] Î™¨Ïä§ÌÉÄÏóëÏä§ (MONSTA X) - DRAMARAMA   3550.500000
259304                                   [BT21] Meet BT21   3233.857143
113540                    Swing - Rivage (Prod. Le Motel)   3177.000000
...                                                   ...           ...
358439  Camera Goes on Japanese Sushi Conveyor Belt Sh...           NaN
360544  ULTRA LIVE presents Ultra Music Festival 2018 ...           NaN
363543                      Coachella 2018 LIVE Channel 1           NaN
363744                      Coachella 2018 LIVE Channel 1           NaN
363948                      Coachella 2018 LIVE Channel 1           NaN

[373322 rows x 2 columns]

                                                        POINT 6
Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)

In [7]:
YT_Trends["publish_time"] = pd.to_datetime(YT_Trends["publish_time"])
YT_Trends["time_clustering"] = YT_Trends["publish_time"].dt.floor("10min")

print(YT_Trends["time_clustering"])

0        2017-11-10 17:00:00+00:00
1        2017-11-13 17:00:00+00:00
2        2017-11-12 19:00:00+00:00
3        2017-11-12 18:00:00+00:00
4        2017-11-09 11:00:00+00:00
                    ...
375937   2018-05-18 13:00:00+00:00
375938   2018-05-18 01:00:00+00:00
375939   2018-05-18 17:30:00+00:00
375940   2018-05-17 17:00:00+00:00
375941   2018-05-17 17:00:00+00:00
Name: time_clustering, Length: 373322, dtype: datetime64[ns, UTC]

                                                    POINT 7
For each interval, determine the number of videos, average number of likes and of dislikes.

In [8]:
interval_operations = YT_Trends.groupby("time_clustering").agg({
    "video_id": "count",  # number of videos
    "likes": "mean",      # like mean
    "dislikes": "mean"    # dislike mean
})

#rename the columns for each arithmetical operation
interval_operations = interval_operations.rename(columns={"video_id": "num_videos", "likes": "avg_likes", "dislikes": "avg_dislikes"})

print(interval_operations)

                           num_videos    avg_likes  avg_dislikes
time_clustering
2006-07-23 08:20:00+00:00           1   459.000000      152.0000
2007-03-05 16:20:00+00:00           9   336.666667        2.0000
2007-06-25 06:50:00+00:00          12   579.833333       11.5000
2007-12-03 20:50:00+00:00          16   187.937500       15.6875
2008-01-07 21:20:00+00:00          10    99.900000        2.0000
...                               ...          ...           ...
2018-06-14 02:30:00+00:00           1   853.000000       77.0000
2018-06-14 03:00:00+00:00           2  2304.500000       31.5000
2018-06-14 03:20:00+00:00           1  1414.000000       28.0000
2018-06-14 03:30:00+00:00           1  8481.000000      252.0000
2018-06-14 03:40:00+00:00           1   374.000000       24.0000

[30397 rows x 3 columns]

                                                        POINT 8
For each tag, determine the number of videos Notice that tags contains a string with several tags.

In [58]:
## WE WANT TO EXCLUDE THE CASE IN WHICH THERE IS NO TAG:
different_tags_no_nan=YT_Trends["tags"].replace("[none]", np.nan).dropna().str.split("|").explode()
videos_tags=different_tags_no_nan.value_counts()
print(videos_tags)

tags
"funny"                   14933
"comedy"                  11962
"2018"                    11029
"news"                     5955
"music"                    5590
                          ...
"ÊÑõË≠∑"                          1
"Âàà„Çã"                          1
„Éû„É§Êö¶ Èü≥Ôºë ÁôΩ„ÅÑÈ≠îÊ≥ï‰Ωø„ÅÑ „Éï„É≠„Éº„Ç∫„É≥„Éû„É™„Éº        1
"ÂÆâ‰Ωè„Ç¢„Éä"                        1
"ÂÖ±ÂêåÈÄö‰ø°"                        1
Name: count, Length: 886934, dtype: int64

                                                            POINT 9
Find the tags with the largest number of videos

In [59]:
print("The 50 tags with the largest number of videos:\n",videos_tags.head(50))

The 50 tags with the largest number of videos:
 tags
"funny"            14933
"comedy"           11962
"2018"             11029
"news"              5955
"music"             5590
"2017"              5500
"video"             5391
"humor"             5036
"television"        4160
"show"              4131
"review"            4012
"Pop"               3899
"vlog"              3824
"interview"         3822
"live"              3761
"food"              3629
"comedian"          3561
"funny videos"      3556
"tv"                3374
"trailer"           3245
"movie"             3230
"funny video"       3211
"how to"            3189
"Comedy"            3036
"entertainment"     3028
"rap"               2967
"celebrities"       2881
"official"          2880
"celebrity"         2872
"new"               2850
"talk show"         2811
"fun"               2744
"jokes"             2739
"hollywood"         2702
"humour"            2633
"challenge"         2621
"reaction"          2556
"film"              2536
"music video"       2499
"football"          2418
"politics"          2401
"drama"             2385
"late night"        2353
"youtube"           2349
"sketch"            2316
"sports"            2273
"Records"           2256
"highlights"        2254
"Rap"               2236
"science"           2232
Name: count, dtype: int64

                                                    POINT 10
For each (tag, country) pair, compute average ratio likes/dislikes

In [26]:
# we only select the columns that are useful to avoid computational errors
tags = YT_Trends[["country", "tags", "likes", "dislikes"]].copy()

tags_exploded = tags.assign(tags=tags["tags"].str.split("|")).explode("tags")

tags_grouped = tags_exploded.groupby(["country", "tags"])[["likes", "dislikes"]].sum()

tags_grouped["average_ratio"] = tags_grouped["likes"] / tags_grouped["dislikes"].replace(0, np.nan)

tags_grouped = tags_grouped.dropna(subset=["average_ratio"])

print(f"Average like-dislike ratio for each tag and country pair sorted in descending order:")
tags_grouped["average_ratio"].sort_values(ascending=False)

Average like-dislike ratio for each tag and country pair sorted in descending order:

country  tags
RU       "Originals"              11688.0
         AT&T                     11688.0
         "DirectTV"               11688.0
         "U-Verse"                11688.0
         "AT&T AUDIENCE"          11688.0
                                   ...
         "ÿ¥ÿ®ŸÉÿ© ÿ±ÿ§Ÿäÿ© ÿßŸÑÿ•ÿÆÿ®ÿßÿ±Ÿäÿ©"        0.0
         "#–≠–ª–¥–∂–µ–π"                    0.0
         "–≠—â–∫–µ—Ä–µ–Ω–æ–∫"                  0.0
         "–≠—â–∫–µ—Ä–µ"                     0.0
         "–≠—à–∫–µ—Ä–µ"                     0.0
Name: average_ratio, Length: 1120369, dtype: float64

                                                        POINT 11
For each (trending_date, country) pair, the video with the largest number of views

In [27]:
idx_largest_views = YT_Trends.groupby(["trending_date", "country"])["views"].idxmax()

print(f"The video with the largest number of views for each country and trending_date paired:")
YT_Trends.loc[idx_largest_views, ["title", "views", "trending_date", "country"]].set_index(["trending_date", "country"]).sort_index()

The video with the largest number of views for each country and trending_date paired:

                                                                   title  \
trending_date country
2017-11-14    CA             Ed Sheeran - Perfect (Official Music Video)
              DE             Ed Sheeran - Perfect (Official Music Video)
              FR             Ed Sheeran - Perfect (Official Music Video)
              GB             Ed Sheeran - Perfect (Official Music Video)
              IN       Tiger Zinda Hai | Official Trailer | Salman Kh...
...                                                                  ...
2018-06-14    JP                           Dumbo Official Teaser Trailer
              KR                           Dumbo Official Teaser Trailer
              MX       Courtney Hadwin: 13-Year-Old Golden Buzzer Win...
              RU                            –°–µ–º—ë–Ω –°–ª–µ–ø–∞–∫–æ–≤: –û–ª√©-–û–ª√©-–û–ª√©!
              US       Cardi B, Bad Bunny & J Balvin - I Like It [Off...

                          views
trending_date country
2017-11-14    CA       33523622
              DE       33523622
              FR       33523622
              GB       33523622
              IN       35885754
...                         ...
2018-06-14    JP        4427381
              KR        4427381
              MX        5829270
              RU        6597033
              US       94254507

[1967 rows x 2 columns]

                                                        POINT 12
Divide trending_date into three columns: year, month, day

In [60]:
YT_Trends["trending_date"] = pd.to_datetime(YT_Trends["trending_date"], format='%y.%d.%m')
YT_Trends['Day'] = YT_Trends["trending_date"].dt.day
YT_Trends['Month'] = YT_Trends["trending_date"].dt.month_name()
YT_Trends['Year'] = YT_Trends["trending_date"].dt.year

print(YT_Trends.iloc[:,-3:])

        Day     Month  Year
0        14  November  2017
1        14  November  2017
2        14  November  2017
3        14  November  2017
4        14  November  2017
...     ...       ...   ...
375937   14      June  2018
375938   14      June  2018
375939   14      June  2018
375940   14      June  2018
375941   14      June  2018

[373322 rows x 3 columns]

                                                        POINT 13
For each (month, country) pair, the video with the largest number of views

In [61]:
idx_largest_views_MC=YT_Trends.groupby(["Month","country"])["views"].idxmax()

print(f"The video with the largest number of views for each month and country paired:")
YT_Trends.loc[idx_largest_views_MC,["title", "views", "Month", "Year", "country"]].set_index(["Month", "Year", "country"]).sort_index()

The video with the largest number of views for each month and country paired:

                                                                   title  \
Month    Year country
April    2018 CA                           VENOM - Official Trailer (HD)
              DE                           VENOM - Official Trailer (HD)
              FR                    Ariana Grande - No Tears Left To Cry
              GB       Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...
              IN                           VENOM - Official Trailer (HD)
...                                                                  ...
November 2017 IN       Swag Se Swagat Song | Tiger Zinda Hai | Salman...
              KR       Marvel Studios' Avengers: Infinity War Officia...
              MX               Luis Fonsi, Demi Lovato - √âchame La Culpa
              RU       BTS (Î∞©ÌÉÑÏÜåÎÖÑÎã®) 'MIC Drop (Steve Aoki Remix)' Offi...
              US               Luis Fonsi, Demi Lovato - √âchame La Culpa

                           views
Month    Year country
April    2018 CA        53071887
              DE        49185287
              FR        32331284
              GB       424538912
              IN        53071887
...                          ...
November 2017 IN        40953758
              KR        37736281
              MX        38647842
              RU        20565795
              US       102012605

[77 rows x 2 columns]

                                                        POINT 14
Read all json files with the video categories

In [72]:
folder_path = "YoutubeTrends_Data/json_data/"
countries = ['CA', 'DE', 'FR', 'GB', 'IN', 'JP', 'KR', 'MX', 'RU', 'US']

dataframes_list = []

for country in countries:
    filename = f"{country}_category_id.json"
    full_path = folder_path + filename

    with open(full_path, 'r') as f:
        data = json.load(f)
        temp_df = pd.DataFrame(data['items'])
        temp_df['country'] = country
        dataframes_list.append(temp_df)

df_categories = pd.concat(dataframes_list, ignore_index=True)

df_categories['category_title'] = df_categories['snippet'].apply(lambda x: x['title'])

unique_categories = df_categories['category_title'].unique()

print(f"The dataframe has {len(df_categories)} rows and {len(df_categories.columns)} columns")

print("\nNumber of categories for country:")
print(df_categories['country'].value_counts())
print(unique_categories)

The dataframe has 311 rows and 6 columns

Number of categories for country:
country
US    32
CA    31
DE    31
FR    31
IN    31
GB    31
JP    31
KR    31
MX    31
RU    31
Name: count, dtype: int64
['Film & Animation' 'Autos & Vehicles' 'Music' 'Pets & Animals' 'Sports'
 'Short Movies' 'Travel & Events' 'Gaming' 'Videoblogging'
 'People & Blogs' 'Comedy' 'Entertainment' 'News & Politics'
 'Howto & Style' 'Education' 'Science & Technology' 'Movies'
 'Anime/Animation' 'Action/Adventure' 'Classics' 'Documentary' 'Drama'
 'Family' 'Foreign' 'Horror' 'Sci-Fi/Fantasy' 'Thriller' 'Shorts' 'Shows'
 'Trailers' 'Nonprofits & Activism']

                                                            POINT 15
For each country, determine how many videos have a category that is not assignable.

In [74]:
df_categories['is_assignable'] = df_categories['snippet'].apply(lambda x: x.get('assignable', True))
YT_Trends['category_id'] = YT_Trends['category_id'].astype(int)
df_categories['id'] = df_categories['id'].astype(int)

df_merged = YT_Trends.merge(
    df_categories[['id', 'country', 'is_assignable']], # we just choose the useful columns
    left_on=['category_id', 'country'],
    right_on=['id', 'country'],
    how='left'
)

not_assignable_videos = df_merged[df_merged['is_assignable'] == False]

outcome = not_assignable_videos.groupby('country').size()

print("Number of not assignable videos:")
if len(outcome) == 0:
    print("None")
else:
    print(outcome)

Number of not assignable videos:
country
CA    130
DE    110
FR    112
GB     20
IN    221
KR    167
MX      3
RU    195
US     57
dtype: int64